KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/viva-eventos
DB_URL=jdbc:postgresql://localhost:5432/orderdb
DB_DRIVER=org.postgresql.Driver
DB_USER=order_user
DB_PASSWORD=order_pass
TICKET_SERVICE_URL=http://localhost:8082
